<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${champions}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>class</th>
                <th>origin</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="champion : ${champions}">
                <td th:text="${champion.id}"></td>
                <td th:text="${champion.name}"></td>
                <td th:text="${champion.chclass}"></td>
                <td th:text="${champion.chorigin}"></td>
                <td th:text="${champion.cost}"></td>
                <td><a th:href="@{champion-update/{id}(id=${champion.id})}">Edit</a></td>
                <td><a th:href="@{champion-delete/{id}(id=${champion.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/champion-create">Add champion</a></p>
</div>
</body>
</html>